{% extends "templates/web.html" %}

{% block content %}
<div class="login-wrapper">
    <div class="login-form">
        <button id="face-recognition-login">Login with Face Recognition</button>
    </div>
</div>
<script>
    document.getElementById('face-recognition-login').onclick = function() {
        fetch('/api/method/face_recognition_login.api.verify_face', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ user_email: 'omar' })
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
            const result = data.message.message;
            if (result.status === "success" && result.message === "Face verified") {
                window.location.href = '/desk';
                console.log('Successful Login Redirect');
                console.log('Welcome: ', result.username);
            } else {
                console.log('Face Verification Error:', result.message);
            }
        })
        .catch(error => {
            console.log(error)
            console.error('Face Recognition Login Error:', error);
        });
    };
</script>
{% endblock %}
